<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoviWeb</title>
</head>
<body>
    <nav>
    <a href="{{ url_for('home') }}" class="nav-logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="MovieWeb Logo">
    </a>
    <div class="nav-center">
        {% block nav_extra %}{% endblock %}
    </div>
    <a href="{{ url_for('home') }}" class="nav-link">← Alle Nutzer</a>
</nav>
    <!-- Das macht base.html zu einem basistemplate-->
    <main class="container">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                {% endif %}
        {% endwith %}
    {% block content %}
    {% endblock %}
    </main>

</body>
</html>