
    {% extends "base.html" %}
    {% block content %}
    <h1>Nutzer</h1>
    <ul class="user-list">
        {% for user in users %}
        <li class="user-entry">
            <a href="{{ url_for('get_movies', user_id=user.id) }}" class="btn">{{ user.name }}</a>
        </li>
        <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST">
            <button type="submit">Diesen Nutzer löschen</button>
        </form>
        {% endfor %}
    </ul>
    <form action="{{ url_for('create_user') }}" method="POST">
        <input type="text" name="name">
        <button type="submit">Nutzer hinzufügen</button>
    </form>
    {% endblock %}
